/* @import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-app1: theme('colors.app.50'); 
    --color-app2: theme('colors.app.100'); 
    --color-app3: theme('colors.app.200'); 
    --color-app4: theme('colors.app.300'); 
    --color-app5: theme('colors.app.400'); 
    --color-app6: theme('colors.app.500'); 
    --color-app7: theme('colors.app.600'); 
    --color-app8: theme('colors.app.700'); 
    --color-app9: theme('colors.app.800');
    --color-app10: theme('colors.app.900');
    --color-app11: theme('colors.app.950');
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 289.4 85% 59%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 289.4 85% 59%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  ::selection {
    @apply bg-app-500 dark:bg-app-900 text-app-50;
  }
  * {
    @apply border-border font-sans p-0 m-0;
  }
  body {
    @apply bg-white dark:bg-slate-900 bg-opacity-50 text-app-900 !important;
  }
  p {
    @apply text-app-900 dark:text-app-50;
  }
  main {
    @apply bg-white dark:bg-slate-800 bg-opacity-50;
  }
  nav {
    @apply bg-app-50 dark:bg-slate-900 fixed w-full z-20 top-0 left-0 shadow dark:shadow-slate-950  border border-app-200  dark:border-slate-800;
  }
  nav div:first-child {
    @apply max-w-screen-xl flex flex-wrap items-center  justify-between mx-auto p-4 py-[0.5rem];
  }
  .first-section {
    @apply w-full relative  shadow-t-xl min-h-screen pt-10 z-10 bg-white rounded-t-2xl;
  }
  .dark .first-section {
    @apply bg-gradient-to-t from-slate-800 via-slate-900 to-slate-900 rounded-t-2xl;
  }
  section {
    @apply border-opacity-50 bg-white  bg-opacity-50  text-app-950 dark:text-app-50;
  }

  .dark section {
    @apply bg-slate-800 border-opacity-50 !important;
  }
}
@layer components {
  .content {
    @apply max-w-5xl px-5 pt-20  mx-auto mt-10 min-h-[70vh] text-lg;
  }
  .content-centered {
    @apply mx-auto min-h-screen  flex items-center justify-center;
  }

  h1 svg,
  h2 svg,
  h3 svg,
  h4 svg,
  h5 svg,
  h6 svg {
    @apply dark:text-app-200 text-app-600 text-3xl !important;
  }
 
  h1.title-page {
    @apply text-center  mb-14;
  }

  h1 {
    @apply md:text-4xl text-3xl font-bold text-app-900 dark:text-app-400 mb-[1.545rem];
}

h2 {
    @apply md:text-2xl text-xl font-bold text-app-900 dark:text-app-300 mb-[0.955rem];
}

h3 {
    @apply md:text-xl text-lg font-bold text-app-800 mb-[0.59rem];
}

h4 {
    @apply md:text-lg text-base font-bold text-app-800 mb-[0.364rem];
}

h5 {
    @apply md:text-base text-sm font-bold text-app-800 mb-[0.225rem];
}

h6 {
    @apply md:text-sm text-sm font-bold text-app-800 mb-[0.139rem];
}

p {
  @apply md:text-base text-sm leading-5 mb-[0.696rem];
}






}
.background-hero {
  animation: animateBackground 10s infinite;
}
@keyframes animateBackground {
  0% {
    filter: brightness(1) saturate(1) hue-rotate(0deg);
  }
  25% {
    filter: brightness(1.1) saturate(1) hue-rotate(20deg);
  }
  50% {
    filter: brightness(1.2) saturate(1) hue-rotate(30deg);
  }
  75% {
    filter: brightness(1.1) saturate(1) hue-rotate(20deg);
  }
  100% {
    filter: brightness(1) saturate(1) hue-rotate(0deg);
  }
}
.animated-gradient-audio-paper {
  background-image: linear-gradient(
    to right,
    theme("colors.app.950"),
    theme("colors.app.800"),
    theme("colors.app.950"),
    theme("colors.app.900"),
    theme("colors.app.800") /* légèrement plus clair */
  );
  z-index: 99999999;
  background-size: 400% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientChangeAudioPaper 10s infinite;
}

@keyframes gradientChangeAudioPaper {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

a:not(.getStartedButton) {
  @apply hover:underline text-app font-bold dark:text-app-300 !important;
  position: relative;
}
a.nunderline {
  @apply hover:no-underline dark:hover:text-app-300 hover:text-app-700 text-app-900 dark:text-app-50 font-semibold !important;
}
a.special-uderline::after,
a.special-uderline-active::after {
  @apply rounded-full;
  content: "";
  position: absolute;
  bottom: -5px; /* Augmentez cette valeur pour espacer la ligne du texte */
  left: 0;
  width: 0;
  height: 3px;
  background-color: currentColor;
  transition: width 0.3s;
}

a.special-uderline:hover::after {
  width: 100%;
}

a.special-uderline-active::after {
  width: 100%;
  transition: none;
}

a.special-uderline-active {
  @apply text-app-700 dark:text-app-300 !important;
}

.button-pressed {
  transform: scale(0.95); /* réduit légèrement la taille du bouton */
  transition: transform 0.1s ease-in-out; /* ajoute une transition animée */
}

/* styles.css */
.page-transition-enter {
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.page-transition-exit {
  opacity: 1;
}
.page-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
/* Main Menu */
ul.main-menu {
  @apply flex flex-col p-4 lg:p-0 mt-4 font-medium border border-slate-100 rounded-lg  md:flex-row md:space-x-8 md:mt-0 lg:border-0  dark:bg-slate-800 md:dark:bg-slate-900 dark:border-slate-700 text-lg;
}
div.main-menu {
  @apply items-center justify-between hidden w-full md:flex md:w-auto md:order-1;
}
ul.main-menu li a {
  @apply nunderline block py-2 pl-3 md:text-[1.105rem] pr-4 rounded hover:bg-slate-100 md:hover:bg-transparent md:hover:text-app md:p-0 md:dark:hover:text-app-500 dark:text-white dark:hover:bg-slate-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-slate-700;
}

/* Burger Menu */
div.burger-menu {
  @apply -z-10 md:hidden absolute top-[4.5rem] left-0 w-full bg-app-200 dark:bg-slate-800 border-b-2 border-t-2 border-app-300;
}
div.burger-menu ul {
  @apply text-base w-full text-center;
}
div.burger-menu ul li a {
  @apply no-underline block w-full hover:no-underline py-4 px-2 text-base font-bold  hover:bg-app-100 lg:hover:bg-transparent lg:hover:text-app lg:p-0 lg:dark:hover:text-app-500 dark:text-white dark:hover:bg-slate-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-slate-700;
}
/* LOGO */
.logo {
  @apply flex items-center nunderline  gap-x-1 md:text-base text-xs;
}
.logo span {
  @apply self-center text-3xl font-semibold whitespace-nowrap dark:text-white;
}
.logo span span:first-child {
  @apply text-app dark:text-app-300;
}
.logo span span {
  @apply text-app-950  dark:text-app-50;
}

/* CARD */

.no-card-header {
  @apply pt-1;
}

/* Product */

.product-alt {
  @apply flex flex-col  relative cursor-pointer  md:w-1/2 w-full items-center space-x-2 gap-y-5 p-5 hover:bg-app-200/50 hover:shadow hover:shadow-app-200 rounded-xl pb-16;
}
div product-alt:first-child {
  @apply border-2 border-r-2;
}
.product-price {
  @apply items-center space-x-2 gap-y-5  -mt-5 p-3 text-3xl font-bold text-app-800 rounded-xl;
}

.bar {
  @apply border-app-500 bg-app-400 !important;
}

.PhoneInputInput {
  @apply shadcnInput !important;
}
.PhoneInputCountryIcon--border {
  @apply bg-transparent border-0  !important;
  box-shadow: none !important;
}
.PhoneInputCountryIcon img {
  @apply rounded !important;
}
.selectionLocalisation {
  @apply bg-app-100 px-5 py-0.5 hover:bg-app-200 cursor-pointer hover:text-black;
}
/* SHADCN */
.shadcnInput {
  @apply flex h-9 w-full rounded-md border border-app-300 dark:border-slate-700 bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm font-light placeholder:font-medium placeholder:text-app-800  placeholder:text-opacity-60 dark:placeholder:text-slate-500 text-app-900 dark:text-app-100 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-app-500 disabled:cursor-not-allowed disabled:opacity-50;
}
.shadcnLabel-base {
  @apply md:text-base text-sm font-semibold leading-none peer-disabled:cursor-not-allowed text-app-900 dark:text-app-300 peer-disabled:opacity-70 mb-1 mt-2;
}
.shadcnCheckbox {
  @apply h-4 w-4 shrink-0 rounded-sm border border-app shadow focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-app data-[state=checked]:text-primary-foreground;
}
.shadcnButton {
  @apply inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 !important;
}
.shadcnButton-default {
  @apply bg-app dark:bg-app-300 dark:text-app-800 dark:hover:bg-app-300/90 text-app-100 shadow hover:bg-app/90;
}
.shadcnButton-destructive {
  @apply bg-destructive text-destructive-foreground shadow-sm hover:bg-destructive/90;
}
.shadcnButton-outline {
  @apply border border-app-300 dark:border-app-800 dark:text-app-500 dark:hover:bg-app-800 dark:hover:text-app-300 text-app-800 bg-transparent shadow-sm hover:bg-app-50 hover:text-app-900;
}
.shadcnButton-secondary {
  @apply bg-secondary text-secondary-foreground shadow-sm hover:bg-secondary/80;
}
.shadcnButton-ghost {
  @apply hover:bg-app-100 hover:text-app-800 dark:hover:bg-app-900 text-app-900 dark:text-app-300;
}
.shadcnButton-links {
  @apply text-primary underline-offset-4 hover:underline;
}
.shadcnCard-description {
  @apply md:text-[1rem] text-[0.9375rem] leading-[1.618rem] mb-[0.618rem] text-app-900 dark:text-app-50;
}

div.separatorWithText {
  @apply relative mt-4 uppercase;
}
div.separatorWithText div:first-child {
  @apply absolute inset-0 flex items-center;
}
div.separatorWithText div:first-child span {
  @apply w-full border-t border-app-500;
}
div.separatorWithText div:last-child {
  @apply relative flex justify-center  text-xs;
}
div.separatorWithText div:last-child span {
  @apply bg-white font-bold text-base text-app-900 dark:text-app-500 dark:bg-slate-900 px-2;
}

.Toastify__toast-container {
  @apply rounded-xl z-[99999] !important;
}
.Toastify__toast {
  @apply rounded-xl !important;
}
.Toastify__toast--rtl {
  @apply rounded-xl !important;
}
.Toastify__toast-body {
  @apply rounded-xl !important;
}
.Toastify__toast-theme--dark {
  @apply bg-app;
}
/* .Toastify__toast-theme--light {
} */
.Toastify__toast-theme--colored.Toastify__toast--default {
  @apply bg-app-950 text-app-50 !important;
}
.Toastify__toast-theme--colored.Toastify__toast--info {
  @apply bg-blue-500 !important;
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  @apply bg-app !important;
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
  @apply bg-yellow-600 !important;
}
.Toastify__toast-theme--colored.Toastify__toast--error {
  @apply bg-red-600 !important;
}
.tooltip {
  @apply text-sm bg-app-800 max-w-fit !important;
}

.border-red-500-important {
  border-color: #f56565 !important;
}

label {
  @apply shadcnLabel-base;
}
.getStartedButton {
  @apply mx-auto flex flex-row w-auto  hover:no-underline gap-x-5 items-center mb-0 mt-20 md:text-3xl text-2xl font-display py-8 justify-center   gap-y-1 hover:bg-opacity-60 border border-app-100  hover:border-app-800 hover:border-solid hover:bg-app-900  text-white hover:text-app-100  bg-opacity-80 !important;
}
a.subFooterLink {
  @apply font-normal !important;
}
.shadow-offset {
  box-shadow: 0 0 0 4px white;
}
.outer-border {
  box-shadow: 0 0 0 4px white;
}
.accordionTrigger h3 {
  @apply pb-0 mb-0 !important;
}
.selectedRow {
  @apply bg-app-300 text-app-800 font-bold shadow-t-sm  !important;
}

.accordionTrigger {
  @apply hover:bg-app-100 bg-app-50 rounded-lg mb-2   border-app-200;
}
.textarea-container {
  position: sticky;
}

.textarea-resizer {
  @apply rounded-t-xl bg-app-500 cursor-ns-resize;
  position: absolute;
  top: 1px;
  right: 0px;
  width: 100%;
  height: 5px;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
  outline: none;
}

/* article h1 {
  @apply text-4xl font-bold mt-8 mb-4;
}
article h2 {
  @apply text-3xl font-bold mt-7 mb-3;
}
article h3 {
  @apply text-2xl font-bold mt-6 mb-3;
}
article h4 {
  @apply text-xl font-bold mt-5 mb-2;
}
article h5 {
  @apply text-lg font-bold mt-4 mb-2;
}
article h6 {
  @apply text-base font-bold mt-3 mb-2;
}
*/
article p {
  @apply  md:text-lg md:pl-2 text-base mt-4 mb-4 !important;
} 
article em,
article i {
  @apply italic;
}
article strong,
article b {
  @apply font-bold;
}
article del {
  @apply line-through;
}
article blockquote {
  @apply border-l-4 border-app-300 bg-app-50 rounded py-2 pl-4 italic my-4;
}
article ul {
  @apply list-disc list-inside mt-4 mb-4;
}
article ol {
  @apply list-decimal list-inside mt-4 mb-4;
}

article a {
  @apply text-blue-500 underline;
}
article img {
  @apply max-w-full h-auto my-4;
}
article pre {
  @apply bg-gray-100 p-4 rounded mt-4 mb-4;
}
article code {
  @apply text-sm bg-gray-100 rounded p-1;
}

article hr {
  @apply border-t border-gray-300 my-8;
}
article table {
  @apply w-full border-collapse my-4;
}
article th,
article td {
  @apply border border-gray-300 px-4 py-2;
}
article .task-list-item {
  @apply list-none list-inside;
}
.input-blog-title {
  @apply md:text-4xl text-3xl border-none h-auto font-bold !important;
}
.input-blog-image {
  @apply border-none h-auto italic !important;
}
/* REACT SELECT CONTAINER */
.react-select-container {
  @apply shadcnInput h-auto flex flex-row items-center !important;
}

.react-select-container .react-select__control {
  @apply border-0 w-full bg-transparent focus:border-0 focus:ring-0;
}

.react-select-container .react-select__control .react-select__control--is-focused {
  @apply border-0 w-full bg-transparent shadow-none focus:border-0 focus:ring-0;
}

.react-select-container .react-select__control .react-select__control--is-focused .react-select__control--menu-is-open {
  @apply border-0 w-full bg-transparent focus:border-0 focus:ring-0;
}

.react-select-container .react-select__control .react-select__control--is-focused .react-select__control--menu-is-open .react-select__value-container {
  @apply border-0 bg-transparent focus:border-0 focus:ring-0;
}

.react-select-container .react-select__menu-list {
  @apply bg-app-50 shadow-app-100 rounded-b rounded-t-none !important;
}

.react-select-container .react-select__menu-list .react-select__option {
  @apply hover:bg-app-100 text-app-900 focus:bg-app-100 active:bg-app-100;
}

.react-select-container .react-select__menu-list .react-select__option--is-focused {
  @apply bg-app-100 text-app-900 !important;
}

.react-select-container .react-select__multi-value__remove {
  @apply bg-app-300 ml-2 hover:bg-app-400 hover:text-app-50;
}

.react-select-container .react-select__menu-notice--no-options {
  @apply text-app-400 !important;
}

.react-select-container .react-select__menu {
  @apply rounded-b rounded-t-none shadow-app-300 shadow-sm mt-0.5 -ml-3 border-app-300 !important;
}

.textareaBlogPostEditor {
  @apply border-[1px] outline-0 border-app-300 max-h-[92vh] shadow-t-lg  md:h-[50vh] h-[30vh] p-5 rounded-t-lg border-l-0 border-r-0 text-base border-t-[5px] border-t-app-500 z-10 bg-white ;
  /* no outline on focus */

}

.rounded-b-none-imp {
  @apply rounded-b-none  !important;
}
.rounded-t-none-imp {
  @apply rounded-t-none border-t-0 bg-app-100 hover:bg-app-50  !important; 
}
.force-xs {
  @apply text-xs !important;
}.force-sm {
  @apply text-sm !important;
}
.force-base {
  @apply text-base !important;
}
.force-lg {
  @apply text-lg !important;
}
.force-xl {
  @apply text-xl !important;
}
.force-2xl {
  @apply text-2xl !important;
}
.force-3xl {
  @apply text-3xl !important;
}
.force-4xl {
  @apply text-4xl !important;
}
.force-5xl {
  @apply text-5xl !important;
}
.force-6xl {
  @apply text-6xl !important;
}
.force-7xl {
  @apply text-7xl !important;
}