@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 289.4 85% 59%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 289.4 85% 59%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  ::selection {
    @apply bg-app-500 dark:bg-app-900 text-app-50;
   }
  * {
    @apply border-border font-sans p-0 m-0 
  }
  body {
    @apply bg-white dark:bg-slate-900 bg-opacity-50 !important;
  }
  p {
    @apply text-app-900 dark:text-app-50
  }
  main {
    @apply bg-white dark:bg-slate-800 bg-opacity-50;
  }
  nav {
    @apply bg-app-50 dark:bg-slate-900 fixed w-full    z-20 top-0 left-0 shadow dark:shadow-slate-950 shadow-app-200 border-app-600 border-opacity-70   dark:border-slate-800;
  }
  nav div:first-child {
    @apply max-w-screen-xl flex flex-wrap items-center backdrop-blur-lg justify-between mx-auto p-4 py-[0.5rem];
  }
  .first-section {
    @apply w-full relative  shadow-t-xl min-h-screen pt-10 z-10 bg-white rounded-t-2xl;
  }
  .dark .first-section {
    @apply bg-gradient-to-t from-slate-800 via-slate-900 to-slate-900 rounded-t-2xl;
  }
  section {
    @apply border-opacity-50 bg-white  bg-opacity-50  text-app-950 dark:text-app-50;
  }
  
  .dark section {
    @apply bg-slate-800 border-opacity-50 !important;
  }
  
}
@layer components {
  .content {
    @apply max-w-5xl px-5 pt-20  mx-auto mt-10 min-h-[70vh] text-lg ;
  }
  .content-centered {
    @apply   mx-auto min-h-screen  flex items-center justify-center;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans  mt-0 mb-5 leading-7 flex flex-col gap-y-2;
  }
  h1 svg,
  h2 svg,
  h3 svg,
  h4 svg,
  h5 svg,
  h6 svg {
    @apply dark:text-app-200 text-app-600 text-3xl !important;
  }
  h1 {
    @apply text-app-800 dark:text-app-400;
  }
  h1.title-page {
    @apply text-center  mb-14;
  }

  h1 {
    @apply md:text-4xl text-3xl font-bold;
  }

  h2 {
    @apply md:text-2xl text-xl font-bold  text-app-900 dark:text-app-300;
  }

  h3 {
    @apply md:text-xl text-lg font-bold  text-app-700;
  }

  h4 {
    @apply md:text-lg text-base font-bold  text-app-950;
  }

  h5 {
    @apply md:text-base text-sm font-bold  text-app-950;
  }

  h6 {
    @apply md:text-sm text-xs font-bold  text-app-950;
  }
  p {
    @apply md:text-base text-sm leading-6 mb-4;
  }
}
.background-hero {
  animation: animateBackground 10s infinite;
}
@keyframes animateBackground {
  0% {
    filter: brightness(1) saturate(1) hue-rotate(0deg);
  }
  25% {
    filter: brightness(1.1) saturate(1) hue-rotate(20deg);
  }
  50% {
    filter: brightness(1.2) saturate(1) hue-rotate(30deg);
  }
  75% {
    filter: brightness(1.1) saturate(1) hue-rotate(20deg);
  }
  100% {
    filter: brightness(1) saturate(1) hue-rotate(0deg);
  }
}
.animated-gradient-audio-paper {
  background-image: linear-gradient(
    to right,
    #2e1065,
    #701a75,
    #7c0d46,
    #701a75,
    #2e1065,
    #701a75
  );
  background-size: 400% 100%;
  background-clip: text;
  color: transparent;
  animation: gradientChangeAudioPaper 10s infinite;
}

@keyframes gradientChangeAudioPaper {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

a {
  @apply hover:underline text-app font-bold dark:text-app-300 !important;
  position: relative;
}
a.nunderline {
  @apply hover:no-underline dark:hover:text-app-300 hover:text-app-700 text-app-900 dark:text-app-50 font-semibold !important;
}
a.special-uderline::after,
a.special-uderline-active::after {
  @apply rounded-full;
  content: "";
  position: absolute;
  bottom: -5px; /* Augmentez cette valeur pour espacer la ligne du texte */
  left: 0;
  width: 0;
  height: 3px;
  background-color: currentColor;
  transition: width 0.3s;
}

a.special-uderline:hover::after {
  width: 100%;
}

a.special-uderline-active::after {
  width: 100%;
  transition: none;
}

a.special-uderline-active {
  @apply text-app-700 dark:text-app-300 !important;
}

.button-pressed {
  transform: scale(0.95); /* réduit légèrement la taille du bouton */
  transition: transform 0.1s ease-in-out; /* ajoute une transition animée */
}


/* styles.css */
.page-transition-enter {
  opacity: 0;
}
.page-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.page-transition-exit {
  opacity: 1;
}
.page-transition-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
/* Main Menu */
ul.main-menu {
  @apply flex flex-col p-4 md:p-0 mt-4 font-medium border border-slate-100 rounded-lg  md:flex-row md:space-x-8 md:mt-0 md:border-0  dark:bg-slate-800 md:dark:bg-slate-900 dark:border-slate-700 text-lg;
}
div.main-menu {
  @apply items-center justify-between hidden w-full md:flex md:w-auto md:order-1;
}
ul.main-menu li a {
  @apply nunderline block py-2 pl-3 text-[1.105rem] pr-4 rounded hover:bg-slate-100 md:hover:bg-transparent md:hover:text-app md:p-0 md:dark:hover:text-app-500 dark:text-white dark:hover:bg-slate-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-slate-700;
}

/* Burger Menu */
div.burger-menu {
  @apply -z-10 absolute top-[4.5rem] left-0 w-full bg-app-200 dark:bg-slate-800 border-b-2 border-t-2 border-app-300;
}
div.burger-menu ul {
  @apply text-base w-full text-center;
}
div.burger-menu ul li a {
  @apply no-underline block w-full hover:no-underline py-4 px-2 text-base font-bold  hover:bg-app-100 md:hover:bg-transparent md:hover:text-app md:p-0 md:dark:hover:text-app-500 dark:text-white dark:hover:bg-slate-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-slate-700;
}
/* LOGO */
.logo {
  @apply flex items-center nunderline  gap-x-3;
}
.logo span {
  @apply self-center text-3xl font-semibold whitespace-nowrap dark:text-white;
}
.logo span span:first-child {
  @apply text-app dark:text-app-300;
}
.logo span span {
  @apply text-app-950  dark:text-app-50;
}


/* CARD */

.no-card-header {
  @apply pt-1;
}

/* Product */

.product-alt {
  @apply flex flex-col  relative cursor-pointer  md:w-1/2 w-full items-center space-x-2 gap-y-5 p-5 hover:bg-app-200/50 rounded-xl;
}
.product-alt {
  @apply flex flex-col  relative cursor-pointer  md:w-1/2 w-full items-center space-x-2 gap-y-5 p-5 hover:bg-app-200/50 rounded-xl pb-16;
}
div product-alt:first-child {
  @apply border-2 border-r-2
}
.product-price {
  @apply   items-center space-x-2 gap-y-5  -mt-5 p-3 text-3xl bg-app-200 font-bold text-app-800 rounded-xl;
}

.bar {
  @apply border-app-500 bg-app-400 !important;
}


.PhoneInputInput {
  @apply   shadcnInput !important;
}
.PhoneInputCountryIcon--border {
  @apply bg-transparent border-0  !important;
  box-shadow: none !important;
}
.PhoneInputCountryIcon img {
  @apply rounded !important;
  
}
.selectionLocalisation {
  @apply bg-app-100 px-5 py-0.5 hover:bg-app-200 cursor-pointer hover:text-black
}
/* SHADCN */
.shadcnInput {
  @apply flex h-9 w-full rounded-md border border-app-300 dark:border-slate-700 bg-transparent px-3 py-1 text-base shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm font-medium placeholder:font-medium placeholder:text-app-800  placeholder:text-opacity-80 dark:placeholder:text-slate-500 text-app-900 dark:text-app-100 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-app-500 disabled:cursor-not-allowed disabled:opacity-50;
}
.shadcnLabel-base {
  @apply md:text-base text-sm font-medium leading-none peer-disabled:cursor-not-allowed text-app-900 dark:text-app-300 peer-disabled:opacity-70 mb-1 mt-2
}
.shadcnCheckbox {
  @apply  h-4 w-4 shrink-0 rounded-sm border border-app shadow focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-app data-[state=checked]:text-primary-foreground
}
.shadcnButton-default {
@apply bg-app dark:bg-app-300 dark:text-app-800 dark:hover:bg-app-300/90 text-app-100 shadow hover:bg-app/90
}
.shadcnButton-destructive {
  @apply bg-destructive text-destructive-foreground shadow-sm hover:bg-destructive/90
}
.shadcnButton-outline {
  @apply border border-app-300 dark:border-app-800 dark:text-app-500 dark:hover:bg-app-800 dark:hover:text-app-300 text-app-800 bg-transparent shadow-sm hover:bg-app-50 hover:text-app-900
}
.shadcnButton-secondary {
  @apply bg-secondary text-secondary-foreground shadow-sm hover:bg-secondary/80;
}
.shadcnButton-ghost {
  @apply hover:bg-app-100 hover:text-app-800 dark:hover:bg-app-900 text-app-900 dark:text-app-300;
}
.shadcnButton-links {
  @apply text-primary underline-offset-4 hover:underline;
}

div.separatorWithText {
  @apply relative mt-4 uppercase 
} 
div.separatorWithText div:first-child {
  @apply absolute inset-0 flex items-center;
}
div.separatorWithText div:first-child span {
  @apply w-full border-t border-app-500;
}
div.separatorWithText div:last-child {
  @apply relative flex justify-center  text-xs ;
}
div.separatorWithText div:last-child span {
  @apply bg-white font-bold text-base text-app-900 dark:text-app-500 dark:bg-slate-900 px-2;
}

.Toastify__toast-container {
  @apply rounded-xl z-[99999] !important
}
.Toastify__toast {
  @apply rounded-xl !important

}
.Toastify__toast--rtl {
  @apply rounded-xl !important

}
.Toastify__toast-body {
  @apply rounded-xl !important

}
.Toastify__toast-theme--dark {
  @apply bg-app;
}
/* .Toastify__toast-theme--light {
} */
.Toastify__toast-theme--colored.Toastify__toast--default {
  @apply bg-app-950 text-app-50 !important;
}
.Toastify__toast-theme--colored.Toastify__toast--info {
  @apply bg-blue-500 !important;
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  @apply bg-app !important;
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
  @apply bg-yellow-600 !important;
}
.Toastify__toast-theme--colored.Toastify__toast--error {
  @apply bg-red-600 !important;
}
.tooltip {
  @apply text-sm bg-app-800 max-w-fit !important;
  }

  .border-red-500-important {
    border-color: #f56565 !important;
  }

label {
  @apply shadcnLabel-base;
}